<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

<script type="text/javascript">
  $(function() {
    new Techblog.Views.Posts.EditView({post: <%= @post.to_json.html_safe -%>});
  });
</script>
