<div id="posts"></div>

<script type="text/javascript">
  $(function() {
    posts = [<%= raw render :template => 'posts/show.json.jbuilder' %>];
    window.router = new Techblog.Routers.PostsRouter({posts: posts});
    Backbone.history.start();
  });
</script>
