<div id="posts">
  <%= render "post", :post => @post %>
</div>

<script type="text/javascript">
  $(function() {
    TB.Util.setStyle()
  });
</script>

<div>
  <%= render "shared/ads_google_300_250" %>
</div>
