/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require google-code-prettify-rails/prettify
 */

@import "bootstrap";

body {
  padding-top: 70px;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
}

.articles {
  text-align: left;
}

article {
  display: block;
}

.entry {
  margin: 0 0 48px 0;
  position: relative;
  width: 100%;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}